// main: style.scss

#sectionContato
{
    background-image: url('/img/template/background-contato.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 40px;
}

input, textarea
{
    margin-bottom: 20px;
}

.social-media
{
    margin-top: 20px;
}

.social-media a, 
{
    color: #e58d00;
    margin: 10px;
}

.social-media a:hover
{
    color: #e58d00;
    text-decoration: none;
}