// main: style.scss

#sectionContato
{
    background-image: url('/img/template/background-contato.jpg');
    background-repeat: no-repeat;
    padding-bottom: 40px;

    /* Set a specific height */
    min-height: 100px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

input, textarea
{
    margin-bottom: 20px;
}

.social-media
{
    margin-top: 20px;
}

.social-media a, 
{
    color: #e58d00;
    margin: 10px;
}

.social-media a:hover
{
    color: #e58d00;
    text-decoration: none;
}