.mauticform-row {
    margin-bottom: 0px !important;
}

div.formMautic .btn-default
{
    background-color: #e58d00 !important;
    border-color: #e58d00 !important;
    color: black !important;
    font-weight: bolder !important;
}

div.formMautic .btn-default:hover
{
    background-color: #FAA51A !important;
    border-color: #FAA51A !important;
}