// main: style.scss

#sectionPortifolio
{
    background-image: url('/img/template/background-portifolio2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 40px;
}

.portifolio-item
{
    margin-bottom: 20px;
}