// main: style.scss

#sectionServicos
{
    background-image: url('/img/template/background-servicos.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 40px;
}

#sectionServicos i
{
    color: #FAA51A;
}