// main: style.scss

#sectionServicos
{
    background-image: url('/img/template/background-servicos.jpg');
    background-repeat: no-repeat;
    padding-bottom: 40px;

    /* Set a specific height */
    min-height: 100px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-size: 100%;
}

#sectionServicos i
{
    color: #FAA51A;
}