// main: style.scss

body
{
    background-color: #222222;
    color: white;
}

div.content
{
    margin-top: 100px;
}

a[name] {
  padding-top: 100px;
  margin-top: -100px;
  display: inline-block; /* required for webkit browsers */
}

.margin-bottom 
{
    margin-bottom: 20px;
}

.margin-bottom-p
{
    margin-bottom: 10px;
}

.margin-bottom-g
{
    margin-bottom: 40px;
}

.margin-top 
{
    margin-top: 20px;
}

.margin-top-p
{
    margin-top: 10px;
}

.margin-top-g
{
    margin-top: 40px;
}

.padding-bottom 
{
    padding-bottom: 20px;
}

.padding-bottom-p
{
    padding-bottom: 10px;
}

.padding-bottom-g
{
    padding-bottom: 40px;
}

.padding-top 
{
    padding-top: 20px;
}

.padding-top-p
{
    padding-top: 10px;
}

.padding-top-g
{
    padding-top: 40px;
}

.responsive-iframe
{
    position:       relative;
    padding-bottom: 80%; // This is the aspect ratio
    height:         0;
    overflow:       hidden;
}

.responsive-iframe iframe 
{
    position:   absolute;
    top:        0;
    left:       0;
    width:      100% !important;
    height:     100% !important;
}

.btn-primary
{
    background-color:#e58d00;
    border-color: #e58d00;
    color: black;
    font-weight: bolder;
}

.btn-primary:hover
{
    background-color:#FAA51A;
    border-color: #FAA51A;
    color: black;
    font-weight: bolder;
}

.alert
{
    position: absolute;
    top: 0;
    z-index: 5000;
    clear: both; 
}

hr
{
    border:             0;
    height:             1px;
    background-image:   -webkit-linear-gradient(left,   rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:   -moz-linear-gradient(left,      rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:   -ms-linear-gradient(left,       rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:   -o-linear-gradient(left,        rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

hr.white
{
    border:             0;
    height:             1px;
    background-image:   -webkit-linear-gradient(left,   rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:   -moz-linear-gradient(left,      rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:   -ms-linear-gradient(left,       rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:   -o-linear-gradient(left,        rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
}

.navbar
{
    height: 120px;
}

.navbar ul li
{
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.navbar ul li:hover
{
    background-color: #3a3a3a;
}

.navbar ul li a
{
    font-size: 2em;
    padding-top: 70px;
    padding-bottom: 30px;
    color: #6d6e71;
}

.navbar ul li a:hover
{
    text-decoration: underline;
}

.whiteSection
{
    background-color: #cbcbcb;
    color: black;
}

footer {
    background-color: #222222;
    color: #636b6f;
    padding: 10px;
}

footer a
{
    text-decoration: underline;
    color: #6d6e71;
}

footer a:hover
{
    color: #FFFFFF;
}