//Bootstrap
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);

//Fonte
@import url('https://fonts.googleapis.com/css?family=Raleway');

//Icons
@import 'font-awesome.min.css';

@import 'template';
@import 'home';
@import 'servicos';
@import 'portifolio';
@import 'contato';