// main: style.scss

body
{
    background-color: white;
    color: black;
    position: relative;
    font-size: 1.5em;
    min-width: 100%;
    padding:0px;
    margin:0px;
}

hr
{
    border:             0;
    height:             1px;
    background-image:   -webkit-linear-gradient(left,   rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:   -moz-linear-gradient(left,      rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:   -ms-linear-gradient(left,       rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:   -o-linear-gradient(left,        rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

hr.white
{
    border:             0;
    height:             1px;
    background-image:   -webkit-linear-gradient(left,   rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:   -moz-linear-gradient(left,      rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:   -ms-linear-gradient(left,       rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:   -o-linear-gradient(left,        rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
}

.margin-bottom 
{
    margin-bottom: 20px;
}

.margin-bottom-p
{
    margin-bottom: 10px;
}

.margin-bottom-g
{
    margin-bottom: 40px;
}

.margin-top 
{
    margin-top: 20px;
}

.margin-top-p
{
    margin-top: 10px;
}

.margin-top-g
{
    margin-top: 40px;
}

.padding-bottom 
{
    padding-bottom: 20px;
}

.padding-bottom-p
{
    padding-bottom: 10px;
}

.padding-bottom-g
{
    padding-bottom: 40px;
}

.padding-top 
{
    padding-top: 20px;
}

.padding-top-p
{
    padding-top: 10px;
}

.padding-top-g
{
    padding-top: 40px;
}

.border-bottom
{
    border-bottom: solid 1px #dddddd;
}

section
{
    position: relative;
    padding-top: -20px;
    min-height: 563px;
}

thead tr th
{
    text-align: center;
}

div.input-group
{
    margin-top: 10px;
}

footer {
    position:relative;
    bottom:0px;
    background-color: #222222;
    color: #636b6f;
    padding: 10px;
    font-size: .8em;
}

footer a
{
    text-decoration: underline;
    color: #6d6e71;
}

footer a:hover
{
    color: #FFFFFF;
}