aside
{
    font-size: .8em;
}

aside h1
{
    font-size: 1.4em;
    font-weight:bolder;
}

aside ul
{
    list-style-type: none;
}

aside ul li, aside a
{
    color: #e58d00;
}

aside a
{
    text-decoration: none;
}

aside a:hover, aside ul li:hover
{
    color: #FAA51A;
    text-decoration: underline;
}

aside div.alert-success,
aside div.alert-success ul,
aside div.alert-success ul li
{
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    color: #3c763d !important;
}

aside div.alert-danger,
aside div.alert-danger ul,
aside div.alert-danger ul li
{
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
    color: #a94442 !important;
}