// main: style.scss

div.content
{
    background-color:white;
    margin-top:120px;
    font-size:1.5em;
    min-height: 510px;
}

hr
{
    border:             0;
    height:             1px;
    background-image:   -webkit-linear-gradient(left,   rgba(229,141,0,0), rgba(229,141,0,1), rgba(229,141,0,0)); 
    background-image:   -moz-linear-gradient(left,      rgba(229,141,0,0), rgba(229,141,0,1), rgba(229,141,0,0)); 
    background-image:   -ms-linear-gradient(left,       rgba(229,141,0,0), rgba(229,141,0,1), rgba(229,141,0,0)); 
    background-image:   -o-linear-gradient(left,        rgba(229,141,0,0), rgba(229,141,0,1), rgba(229,141,0,0)); 
}

hr.white
{
    border:             0;
    height:             1px;
    background-image:   -webkit-linear-gradient(left,   rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:   -moz-linear-gradient(left,      rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:   -ms-linear-gradient(left,       rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:   -o-linear-gradient(left,        rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
}

.listPosts h1
{
    font-size: 1em;
    font-weight: bolder;
}

footer
{
    position: relative;
    bottom: 0px;
}